# URL of the React dashboard git repository
WEBAPP_REPO=https://github.com/mattiasnorell/dripdrop-control.git

# Space-separated list of device IPs/hostnames for OTA targets
DEVICE_IPS=dripdrop.local
